*.dll
*.exe
*.ipch
*.sdf
*.suo
*.filters
*.tlog
*.obj
*.res
*.rc
*.log
*.pdb
*.idb
*.ilk
*.lastbuildstate
*.lib
*.manifest
*.exp
*.zip
*.opensdf
*.user.*
*.DotSettings
*.DotSettings.user
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.orig
*.mlpd
*.vspx
*.diagsession
TestResult.xml

obj/
.vscode/
.vs/
Work/
Build/Debug/
Build/Release/
bin
packages
paket-files
/.fake
/src/.vs/LibTessDotNet/v15/Server/sqlite3/db.lock
/src/.vs/LibTessDotNet/v15/Server/sqlite3/storage.ide
/.paket/paket.exe
/.paket/*.targets