type project
id Unofficial.LibTessDotNet
authors VRVis Research Center
description
    LibTessDotNet package
files
    ..\..\bin\Release\netstandard2.0\LibTessDotNet.dll ==> lib\netstandard2.0
    ..\..\bin\Release\netstandard2.0\LibTessDotNet.pdb ==> lib\netstandard2.0